body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    
    margin: 50px;
    background-color: rgb(61, 61, 61);
}

h1 {
    color: #2c3e50;
}

a {
    color: #2980b9;
    text-decoration: none;
}